.container{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #2C2D2E;

}
.wrapper{
    
    padding: 3px;
    border-radius: 5px;
   background-color: #277DC8;
}
.btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
}
.input{};