.container{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #2C2D2E;

}
.form{
    
    padding: 3px;
    border-radius: 5px;
   background-color: #277DC8;
}
.btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
}
.input{
    padding: 10px 15px;
    font-size: 1rem;
    background: white;
};
.suggestions{
    position: absolute;
    top: 0;
    transform: translateY(39px);
    background: white;
    width: 100%;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
.listItem{
    cursor: pointer;
    padding: 10px 15px;
}
.listItem:hover{
    background-color: antiquewhite;
}